/* Custom CSS Variables */
html {
  /* --sp-colors-accent: #dfd1fa;
  --sp-colors-clickable: #70db94;
  --sp-colors-disabled: #a38dce;
  --sp-colors-error: #ff4d4d;
  --sp-colors-error-surface: #f14c4c;
  --sp-colors-surface1: #2c1f47;
  --sp-colors-surface2: #231839;
  --sp-syntax-color-plain: #dfd1fa;
  --sp-syntax-color-comment: #a38dce;
  --sp-syntax-color-keyword: #70db94;
  --sp-syntax-color-tag: #ff75ba;
  --sp-syntax-color-punctuation: #a38dce;
  --sp-syntax-color-definition: #dfd1fa;
  --sp-syntax-color-property: #70db94;
  --sp-syntax-color-static: #5ed5ed;
  --sp-syntax-color-string: #ff75ba; */
  --sp-colors-accent: #087ea4;
  --sp-colors-clickable: #959da5;
  --sp-colors-disabled: #24292e;
  --sp-colors-error: #811e18;
  --sp-colors-error-surface: #ffcdca;
  --sp-colors-surface1: #e4e7eb;
  --sp-colors-surface2: #fff;
  --sp-syntax-color-plain: #24292e;
  --sp-syntax-color-comment: #6a737d;
  --sp-syntax-color-keyword: #d73a49;
  --sp-syntax-color-tag: #22863a;
  --sp-syntax-color-punctuation: #24292e;
  --sp-syntax-color-definition: #6f42c1;
  --sp-syntax-color-property: #005cc5;
  --sp-syntax-color-static: #032f62;
  --sp-syntax-color-string: #032f62;
}

html.dark {
  --sp-colors-accent: #dfd1fa;
  --sp-colors-clickable: #70db94;
  --sp-colors-disabled: #a38dce;
  --sp-colors-error: #ff4d4d;
  --sp-colors-error-surface: #f14c4c;
  --sp-colors-surface1: #2c1f47;
  --sp-colors-surface2: #231839;
  --sp-syntax-color-plain: #dfd1fa;
  --sp-syntax-color-comment: #a38dce;
  --sp-syntax-color-keyword: #70db94;
  --sp-syntax-color-tag: #ff75ba;
  --sp-syntax-color-punctuation: #a38dce;
  --sp-syntax-color-definition: #dfd1fa;
  --sp-syntax-color-property: #70db94;
  --sp-syntax-color-static: #5ed5ed;
  --sp-syntax-color-string: #ff75ba;
}

/* Remark Highlight Custom Styling */
.remark-highlight {
  /* background-color: #2c1f47; */
  @apply my-8;
}

code:not([class*='language-']) {
  background-color: var(--sp-colors-surface1);
  color: var(--sp-syntax-color-plain);
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  font-size: 16px;
}
.light code:not([class*='language-']) {
  background-color: var(--sp-colors-surface1);
}
a code:not([class*='language-']) {
  color: inherit;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--sp-syntax-color-plain);
  @apply font-code;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: 16px;
}
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #ff75ba4d;
}
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #ff75ba4d;
}
@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}
/* Code blocks */
code[class*='language-'],
pre[class*='language-'] {
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  @apply font-code;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.light code[class*='language-'],
.light pre[class*='language-'] {
  text-shadow: none;
}
pre[class*='language-'] {
  padding: 1.25rem;
  margin: 0.5em 0;
  overflow: auto;
  @apply rounded-2xl;
}
.light pre[class*='language-'] {
  @apply shadow-lg;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--sp-colors-surface2);
}
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
  @apply rounded-2xl;
}
.light :not(pre) > code[class*='language-'] {
  @apply shadow-lg;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--sp-syntax-color-comment);
}
.token.punctuation {
  color: var(--sp-syntax-color-punctuation);
}
.namespace {
  opacity: 0.7;
}
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: var(--sp-syntax-color-tag);
}
.token.boolean,
.token.number {
  color: var(--sp-syntax-color-static);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: var(--sp-syntax-color-string);
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: var(--sp-syntax-color-plain);
}
.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  color: var(--sp-syntax-color-definition);
}
.token.keyword {
  color: var(--sp-syntax-color-keyword);
}
.token.important,
.token.regex {
  color: var(--sp-syntax-color-tag);
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

pre[class*='language-'] {
  padding: 1.25rem;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  color: white;
  background: var(--sp-colors-surface2);
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
